body {
    padding-top: 4px;
    background-color: #ececec;
    margin-top: 16px;
    margin-left: 0px;
    margin-right: 0px;

}

p {
    font-family: Verdana, arial, sans-serif;    
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#page1 {
    height: 480px;
    width: 320px;
    display: inline;
}

#formScales {
    position: relative;
    /* otherwise the float of the child gets it out
         of the document flow */
    overflow:auto;
}

.formContent{
  position: relative;
  /* z-index very important to prevent overlaying divs*/
  z-index: 20
}

/*#activity {
    position: relative;
    overflow:auto;
    margin-top: -77px;
    float: left;
    z-index:10
}*/

#activity {
    position:relative;
    margin-top: -90px;
    z-index:10
    width: 312;
}


#skip {
    position:relative;
    overflow: auto;
    margin-top: 7px;
}

baseFormScales,
#noise,
#lighting,
#temp {
    float: left;
    width: 31vw;
    margin-bottom: 7px;
}

#noise {
    margin-left: 5px;
    margin-right: 6px;
}

#lighting {
    margin-left: 0px;
    margin-right: 6px;
}

#temp {
    padding-left: 0px;
    padding-right: 0px;
}


.activityBtn {
    float: left;
    height: 31vw;
    width: 31vw;
    margin-left: 5px;
}


.active {
    background-color: #99CCFF !important;
    border: 1px solid rgba(24,103,194,0.81);
}

.submitButton {
    float: left;
    height: 50px;
    width: 310px;
    margin-top: 9px;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(24,103,194,0.81);
    background-repeat: no-repeat;
    background-position: 20px 10px;  
    vertical-align: middle;
}

.submitButton:active {
      background-color: rgba(24,103,194,0.81);
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      opacity: 0.2;
}


input {
    /* webkit-appearance:none to override standard button design! */
    -webkit-appearance: none;
    color: rgba(24,103,194,0.81);
    font-weight:400;
    width: 100%;
    height: 41px;
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;    border-radius: 2px;
    border: 1px solid rgba(24,103,194,0.81);
    background-color: rgba(255,255,255, 0.8);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

/* css baseclass */
baseActivityBox, 
/* inherit from baseclass */
#btn16, 
#btn17, 
#btn18, 
#btn19, 
#btn20 {
    background-color: rgba(255,255,255, 0.8);
    background-repeat: no-repeat;  
    background-position: 16px 10px;
    vertical-align: middle; 
    line-height: 160px;
}

#btn16 {
    background-image: url(icons/man216.png);
}
#btn17 {
    background-image: url(icons/work12.png);
    margin-left: 6px;
}
#btn18 {
    background-image: url(icons/businessman.png);
    clear: left;
}
#btn19 {
    background-image: url(icons/business163.png);
    margin-left: 6px;
    margin-right: 1px;
}
#btn20 {
    background-image: url(icons/other.png);
}

#btn21 {
    width: 30vw;
    margin-left: 5px;
    background-color: #ED2939;
}
#btn22 {
    width: 65vw;
    background-color: #ED2939;

}

baseCanvas,
#noiseCanvas,
#lightCanvas,
#activityCanvas {
    position: relative;
    height: 150px;
    width: 310px;
    padding-left: 5px;
}

#noiseCanvas {
    padding-top: 5px;
}

#activityCanvas {
    float: left;
}







/**************** start Iphone 4 settings ***************/
@media only screen 
and (max-height : 481px)
{
 input {
 height: 30px;
 padding: 0px 12px;

 }

.activityBtn {
    height: 28vw;
}

#activity {
    margin-top: -70px;
}

baseActivityBox, 
/* inherit from baseclass */
#btn16, 
#btn17, 
#btn18, 
#btn19, 
#btn20 {
    background-position: 16px 4px;
    z-index: 10;
}

.submitButton {
    height: 47px;
    margin-top: 6px;
}

baseCanvasDiv,
#noiseCanvasDiv,
#lightCanvasDiv,
#activityCanvasDiv {
    position: relative;
    height: 130px;
    width: 310px;
    margin-right: 5px;
    margin-bottom: 12px;
}



/* canvas settings - page2 */
baseCanvas,
#noiseCanvas,
#lightCanvas,
#activityCanvas {
    position: relative;
    height: 130px;
    width: 300px;
    margin-right: 5px;
}





}
/*************** end Iphone 4 settings ******************/




